.carousel-item {
	border-radius: 10px;
	width: 100%;
}
.carousel-images {
	width: 100%;
	height: 20vh;
	padding-bottom: 26px;
}
.carousel {
	height: 100%;
}
.carousel-inner {
	width: 100%;
}
.carousel-indicators {
	margin: 0;
	
	height: 3vh;
	li {
		width: 1rem;
		height: 1rem;
		margin: 0 5px;
		background-color: #ffffff;
	}
}
.carousel__botones {
	background: black;
	height: 20%;
	width: 8%;
	margin: 60px 5px;
	padding: 7px;
}

@media screen and (max-width: 370px) {
	.carousel__botones {
		width: 10%;
	}
	.carousel-images {
		height: 20vh;
	}
}

@media screen and (min-width: 480px) {
	.carousel-images {
		height: 25vh;
	}
	.carousel__botones {
		margin: 90px 0px;
		height: 15%;
		width: 5%;
	}

}

@media screen and (min-width: 768px) {
	.carousel-images {
		height: 30vh;
	}
	.carousel__botones {
		margin: 110px 0px;
		height: 12%;
		width: 4%;
		padding: 10px;
	}

}

@media screen and (min-width: 992px) {
	.carousel-images {
		height: 30em;
	}
	.carousel__botones {
		margin: 120px 0px;
		height: 10%;
		width: 2%;
		padding: 8px;
	}

}

@media screen and (min-width: 1200px) {
	.carousel__botones {
		margin: 150px;
	}
	.carousel-indicators {
		li {
			width: 1.3rem;
			height: 1.3rem;
			margin: 0 10px;
		}
		height: 5vh;
	}
	.carousel-images {
		margin-bottom: 20px;
	}

}