@import '../misc/variables';
@import '../misc/mixins';


@import '../common/header.scss';
@import 'submenu';
@import 'bannerPromos';
@import 'promosdestacadas';
@import '../common/footer.scss';

#wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "banner"
      "submenu"
      "promosDestacadas"
      "bannerElectro"
      "promosElectro"
      "serviciosCoto"
      "redes"
      "footer"
    ;
    grid-template-rows: repeat(3, 0fr) 1fr 0.2fr 0.95fr 0.3fr 75px auto;
    width: 100%;
  }
  

  #submenu {
    background-color: map-get($color, submenu );
  }
  
  #bannerPromosDestacadas {
    grid-area: banner;
    background: map-get($color, secundario );
  }
  
  #wrapper_promocionesDestacadas {
    grid-area: promosDestacadas;
    background: map-get($color, terciario );
  }
  
  #wrapper_bannerElectro {
    grid-area: bannerElectro;
    background: map-get($color, secundario );
  }
  
  #wrapper_promosElectro {
    grid-area: promosElectro;
    background: map-get($color, terciario );
  }
  
  #wrapper_redes {
    grid-area: redes;
    background: map-get($color, principal );
  }
  
  #wrapper_serviciosCoto {
    background: map-get($color, secundario );
  }

  footer {
    background: map-get($color, principal );
    grid-area: footer;
  }
