@import '../misc/variables';
@import '../misc/mixins';


@import '../common/header.scss';
@import 'submenu';
@import 'bannerPromos';
@import 'promosdestacadas';
@import '../common/footer.scss';

#wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "banner"
      "submenu"
      "promosDestacadas"
      "bannerElectro"
      "promosElectro"
      "serviciosCoto"
      "redes"
      "footer"
    ;
    grid-template-rows: repeat(3, 0fr) 1fr 0.2fr 0.95fr 0.3fr 75px auto;
    width: 100%;
  }
  

  #submenu {
    background: #ffffff78;
  }
  
  #bannerPromosDestacadas {
    grid-area: banner;
    background: $color-secundario;
  }
  
  #wrapper_promocionesDestacadas {
    grid-area: promosDestacadas;
    background: $color-terciario;
  }
  
  #wrapper_bannerElectro {
    grid-area: bannerElectro;
    background: $color-secundario;
  }
  
  #wrapper_promosElectro {
    grid-area: promosElectro;
    background: $color-terciario;
  }
  
  #wrapper_redes {
    grid-area: redes;
    background: $color-principal;
  }
  
  #wrapper_serviciosCoto {
    background: $color-secundario;
  }

  footer {
    background-color: $color-principal;
    grid-area: footer;
  }
