@import '../common/header.scss';
@import 'submenu';
@import 'bannerPromos';
@import 'promosdestacadas';
@import '../common/footer.scss';
@import '../misc/variables';
@import '../misc/mixins';

#wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "banner"
      "submenu"
      "promosDestacadas"
      "bannerElectro"
      "promosElectro"
      "serviciosCoto"
      "redes"
      "footer"
    ;
    grid-template-rows: repeat(3, 0fr) 1fr 0.2fr 0.95fr 0.3fr 75px auto;
    width: 100%;
  }
  
  #wrapper_infoAdicional {
    grid-area: infoAdicional;
  }
  
  #bannerPromosDestacadas {
    grid-area: banner;
    background: #181818e0;
  }
  
  #wrapper_promocionesDestacadas {
    grid-area: promosDestacadas;
  
  }
  
  #wrapper_bannerElectro {
    grid-area: bannerElectro;
    background: #181818e0;
  }
  
  #wrapper_promosElectro {
    grid-area: promosElectro;
  }
  
  #wrapper_redes {
    grid-area: redes;
    background: #2e8afd;
  }
  
  #wrapper_serviciosCoto {
    background: #181818e0;
  }
