@import '../misc/mixins';
@import '../misc/variables';

.descripcion_producto {
	margin-bottom: 30px;
}
.precioAnterior {
	p {
		text-decoration: line-through;
	}
}
.card-img-top {
	display: flex;
	justify-content: center;
	inline-size: 80%;
	object-fit: cover;
}
.container {
	list-style: none;
}
.container--promos {
	@include flex(column,normal,normal);
}
.card {
	margin: 1rem;
	text-align: center;
	font-size: 27px;
	align-items: center;
	transition: ease 0.2s;
	&:hover {
		margin: 0.2rem;
	}
}
.promosDestacadas_titulos {
	border-radius: 10px;
	border: 3px ridge red;
	background-color: #d8d8d85b;
	width: 90%;
	height: 60PX;
	@include flex(row,space-around,center);
	transition: ease 0.2s;
	p {
		font-size: 23px;
		text-align: center;
		margin: 0;
	}
	
}
.promos_seccion1 {
	@include flex(column,none,center);
}
.container--promos_div {
	@include flex (column,none,none);
}
.promos_posts {
	@include flex (column,none,none);
}
.div_flex--1eraParte_oferta {
	background-color: #e50000b5;
	border-radius: 5px;
	width: 25%;
	height: 18%;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	p {
		margin: 0;
	}
}
.div_flex--1eraParte-cartel {
	background-color: #ddddddb3;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	width: 50%;
}
.div_flex--1eraParte {
	@include flex(row,space-around,center);
	padding: 0.5rem;
	margin-bottom: 30px;
}
.div_flex--2daParte {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}
.div_flex--2daParte-A {
	display: flex;
	justify-content: space-evenly;
	font-size: 15px;
	text-decoration: line-through;
}
.div_flex--2daParte-B {
	@include flex (none,space-evenly,none);
}

h3 {
	font-size: 25px;
}
.botonComprar {
	@include button(#000000,#e7e6e6,1em);
	margin-bottom: $medium;
	padding: $small;
	border-radius: 14px;
	margin-top: $xsmall;
	border: none;
	font-weight: bold;
	letter-spacing: 1px;
	transition: ease 0.4s;
	&:hover {
		background-color: #afafafc7;
		text-align: center;
		margin: 1rem;
	}
}
.numeros {
	font-size: 20px;
	margin-left: 15px;
}
.botonCantidad {
	font-size: 20px;
}


@media screen and (min-width: 480px) {
	.card-img-top {
		inline-size: 70%;
	}

}

@media screen and (min-width: 550px) {
	.card-img-top {
		inline-size: 60%;
	}
}

@media screen and (min-width: 768px) {
	.container--promos_div {
		flex-direction: row;
	}

}

@media screen and (min-width: 992px) {
	.promos_posts {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.card-title {
		h3 {
			font-size: 20px;
		}
	}
	.div_flex--1eraParte {
		font-size: 14px;
	}
	.container--promos_div {
		flex-direction: row;
	}
	.container--promos_div2 {
		display: flex;
	}
}

