@import '../misc/mixins';
@import '../misc/variables';

.submenu__ul {
    @include flex(none,space-evenly,center);
    list-style: none;
    margin: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
}

.submenu {
    ul {
        @include flex(none,space-evenly,center);
        list-style: none;
        margin: 5px 0;
        font-size: $font-base - 1em;
        text-transform: uppercase;


        li {
            width: 50%;
            text-align: center;

            div {
                border-radius: 10px;
                border: 1px ridge #ffffff;
                margin: 4px;
                padding: $xsmall - 2rem;
                @include button (#ffff,#d63232, $font-base);
                font-weight: bold;
                width: 70%;
                display: inline-flex;
                justify-content: space-around;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .submenu_ul-li {
        div {
            width: 80%;
        }
    }
}

@media screen and (min-width: 768px) {
    .submenu_ul-li {
        div {
            width: 50%;
        }
    }
}

@media screen and (min-width: 992px) {
	.submenu_ul-li {
		div {
			padding: 5px;
			p {
				font-size: 20px;
			}
		}
	}
	.submenu__ul {
		margin: 7px 50px;
	}

}