@import '_variables';


@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button ($color, $fondo,$size) {
    color: $color;
    background-color: $fondo;
    font-size: $size;
}

.boton{
    border-radius: 10px;
    font-size: $font-base;
    @include flex(row, space-around , center );
    color: #000;
}