/*COLORES*/
$color-principal: #2976d7;
$color-secundario: #222729;
$text-color: #111213;

/*ESPACIADOS*/
$large: 6rem;
$medium: 2.4rem;
$small: 1rem;


/*FUENTES*/
$font-principal: 'Helvetica', 'san-serif';
$font-title: 'Roboto Slab', 'serif';

/*TAMANO DE FUENTE*/
$font-large: 5.2em;
$font-medium: 2.2em;
$font-base: 1.4em;
