@import 'header';
@import 'submenu';
@import 'bannerPromos';
@import 'promosdestacadas';
@import 'footer';
#wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "banner"
      "submenu"
      "promosDestacadas"
      "bannerElectro"
      "promosElectro"
      "serviciosCoto"
      "redes"
      "footer"
    ;
    grid-template-rows: repeat(3, 0fr) 1fr 0fr 0.95fr 0fr 75px auto;
    width: 100%;
  }
  
  #wrapper_infoAdicional {
    grid-area: infoAdicional;
  }
  
  #bannerPromosDestacadas {
    grid-area: banner;
    background: #181818e0;
  }
  
  #wrapper_promocionesDestacadas {
    grid-area: promosDestacadas;
  
  }
  
  #wrapper_bannerElectro {
    grid-area: bannerElectro;
    background: #181818e0;
  }
  
  #wrapper_promosElectro {
    grid-area: promosElectro;
  }
  
  #wrapper_redes {
    grid-area: redes;
    background: #2e8afd;
  }
  
  #wrapper_serviciosCoto {
    background: #181818e0;
  }
