@import './index/index.scss';
@import './misc/mixins';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

html {
	width: 100%;
	height: 100vh;
}
body {
	width: 100%;
	height: 100vh;
	font-family: $font-principal;
	background: $color-principal;
}


p {
    margin: 0;
  }



@media screen and (min-width: 1200px) {
	.separacion {
		border: 0;
		border-top: 5px solid #df1c1c;
	}
}