* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html,
body {
  width: 100%;
  height: 100vh;
  background: #5faad530;
}

body {
  font-family: sans-serif;
}


#wrapper{
  display: grid;
  grid-template-areas: 
  "header"
  "banner"
  "submenu"
  "promosDestacadas"
  "bannerElectro"
  "promosElectro"
  "serviciosCoto"
  "redes"
  "infoAdicional"
  "footer"
  ;
  grid-template-rows: 0.3fr 0.5fr 0.1fr .2fr 300px 0.5fr 200px 75px auto auto;
  width: 100%;
}

#wrapper_infoAdicional{
  grid-area: infoAdicional;
}

#bannerPromosDestacadas{
  grid-area: banner;
  background: #181818e0;
}

#wrapper_promocionesDestacadas{
  grid-area: promosDestacadas;

}

#wrapper_bannerElectro{
  grid-area: bannerElectro;
}

#wrapper_promosElectro{
  grid-area: promosElectro;
}

#wrapper_redes{
  grid-area: redes;
}



/*HEADER*/
header {
  background-color: #222729;
}

.image-fluid {
  margin-bottom: 10px;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.container-fluid div {
  padding: 0;
}

.navbar-brand {
  width: 60%;
  padding: 0;

}


.navbar p {
  color: #ffffff;
}

.navbar-toggler-icon {
  color: #ffffff;
}

/*BANNER*/

.carousel-item{
  border-radius: 10px;
  width: 100%;
}
.carousel-images{
  width: 100%;
    height: 20vh;
  padding-bottom: 26px;
}

.carousel{
  height: 100%;
}

.carousel-inner{
  width: 100%;
}

.carousel-indicators dl, ol, ul {

  margin-bottom: 0;
}
.carousel-indicators{
  margin: 0;
  margin-right: 15%;
    margin-left: 15%;
    height: 25px;

}

.carousel-indicators li{
width: 10px;
height: 10px;
margin-left: 5px;
margin-right: 0;
background-color: #ffffff;
}


.carousel__botones {
    background: black;
    height: 20%;
    width: 8%;
    margin: 60px 5px;
    padding: 7px;
}

/*SUBMENU*/
#submenu{
  background: #ffffff78;
}

.submenu__ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;
}

.submenu_ul-li{
  width: 50%;
    text-align: center;
}

.submenu_ul-li div{
  border-radius: 10px;
border: 1px ridge #ffffff;
margin: 4px;
padding: 10px;
background: #d63232;
color: #ffff;
font-weight: bold;
width: 70%;
display: inline-flex;
justify-content: space-around;
}

.submenu_ul-li div p{
margin-bottom: 0;
}



@media screen and (max-width: 220px) {
 
 /*HEADER*/
  .navbar-brand {
    width: 98%;
    margin: 0;
    margin-bottom: 9px;
    margin-right: 3px;
  }

  .navbar-dark .navbar-toggler {
    width: 105%;
    padding: 0;
    margin: 0;
  }

  .navbar {
    padding: 2px;
    width: 98%;
  }

    /*BANNER*/
  
}


@media screen and (max-width: 320px) {
  
    /*BANNER*/
  }

  @media screen and (max-width: 370px) {
  
    /*BANNER*/
    .carousel__botones {
      width: 10%;
    }
    

  .carousel-images {
    height: 20vh;
}
  }

@media screen and (min-width: 480px) {
/*HEADER*/
  .navbar-brand {
    width: 45%;
  }

  /*BANNER*/
  .carousel-images{
    height: 25vh;
  }

  .carousel__botones{
    margin: 90px 0px;
    height: 15%;
    width: 5%;
  }

  /*SUBMENU*/

  .submenu_ul-li div{
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
/*HEADER*/
  .navbar-brand {
    width: 25%;
    margin: 20px 0;
  }

  /*BANNER*/
  .carousel-images{
    height: 30vh;
  }

  .carousel__botones {
    margin: 110px 0px;
    height: 12%;
    width: 4%;
    padding: 10px;
}

  /*SUBMENU*/

  .submenu_ul-li div{
    width: 40%;
  }
}


@media screen and (min-width: 992px) {
/*HEADER*/
  .navbar-brand {
    width: 15%;
    margin: 20px 0;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: right;
    margin-top: 20px;
  }
  .nav-item {
    padding-left: 10px;
  }

  /*BANNER*/
  .carousel-images{
    height: auto;
    width: 70%;
    margin-left: 190px;
    padding: 16px ;
    border-radius: 30px;
    margin-bottom: 8px;

  }

  .carousel__botones {
    margin: 120px 0px;
    height: 10%;
    width: 2%;
    padding: 8px;
}

  /*SUBMENU*/

  .submenu_ul-li div{
    padding: 5px;
  }

  .submenu__ul{
    margin: 7px 50px;
  }
}

@media screen and (min-width: 1200px){
  .carousel__botones {
    margin: 180px 0px;
}

.carousel-images{

  margin-left: 250px;


}
}