* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html,
body {
  width: 100%;
  height: 100vh;
}

body {
  font-family: sans-serif;
}


#wrapper{
  display: grid;
  grid-template-areas: 
  "header"
  "banner"
  "submenu"
  "promosDestacadas"
  "bannerElectro"
  "promosElectro"
  "serviciosCoto"
  "redes"
  "infoAdicional"
  "footer"
  ;
  grid-template-rows: 0.75fr 2fr 1fr .2fr 300px 0.5fr 200px 75px auto auto;
  width: 100%;
}

#wrapper_infoAdicional{
  grid-area: infoAdicional;
}

#bannerPromosDestacadas{
  grid-area: banner;
}

#wrapper_promocionesDestacadas{
  grid-area: promosDestacadas;
}

#wrapper_bannerElectro{
  grid-area: bannerElectro;
}

#wrapper_promosElectro{
  grid-area: promosElectro;
}

#wrapper_redes{
  grid-area: redes;
}



/*HEADER*/
header {
  background-color: #222729;
}

.image-fluid {

  width: 100%;
}

.container-fluid {
  padding: 0;
}

.container-fluid div {
  padding: 0;
}

.navbar-brand {
  width: 60%;
  padding: 0;
  margin-bottom: 16px;
}


.navbar p {
  color: #ffffff;
}

.navbar-toggler-icon {
  color: #ffffff;
}

/*BANNER*/

.carousel-item{
  width: 90%;
}

.carousel-inner{
  border-radius: 10px;
 
  width: 90%;
  height: 180px;
}

.carousel-item{
  border-radius: 10px;
}
.carousel-images{
  border-radius: 10px;
  height: 100px;
}

#bannerPromosDestacadas{
  background: #c5c5c5;
}

.container-fluid div {
  width: 96%;
  padding: 0px;
  
}

@media screen and (max-width: 220px) {
 
 /*HEADER*/
  .navbar-brand {
    width: 98%;
    margin: 0;
    margin-bottom: 9px;
    margin-right: 3px;
  }

  .navbar-dark .navbar-toggler {
    width: 105%;
    padding: 0;
    margin: 0;
  }

  .navbar {
    padding: 2px;
    width: 98%;
  }

    /*BANNER*/
  
}


@media screen and (max-width: 320px) {
  
    /*BANNER*/
    .carousel-indicators {
      margin: 0px 40PX 6PX;
  }
  }

  @media screen and (m-width: 370px) {
  
    /*BANNER*/
    .carousel-indicators {
      margin: 0px 27px 14PX;
  }

  .carousel-images {
    height: 140px;
}
  }

@media screen and (min-width: 480px) {
/*HEADER*/
  .navbar-brand {
    width: 30%;
    margin: 20px 0;
    padding: 0 17px 8px 0;
  }

  /*BANNER*/
  
}

@media screen and (min-width: 768px) {
/*HEADER*/
  .navbar-brand {
    width: 20%;
    margin: 20px 0;
  }

  /*BANNER*/

}


@media screen and (min-width: 992px) {
/*HEADER*/
  .navbar-brand {
    width: 15%;
    margin: 20px 0;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: right;
    margin-top: 20px;
  }
  .nav-item {
    padding-left: 10px;
  }

  /*BANNER*/
  
}